block form
  h4 Formulario de prueba

    form#myForm(action="/" method="post" onsubmit="return validateForm(this)")
      input(type="text" name="username" id="username" pattern="\\w+#\\d+" onchange="handleChangeInput(this, validUsername)" required)
      input(type="password" name="password" id="password" pattern="\\w{8,}" onchange="handleChangeInput(this, validPassword)" onmousedown="handleMouseDown(this)" onmouseup="handleMouseUp(this)" onmouseleave="handleMouseUp(this)" required)
      input(type="submit" id="send-button")

script(src='/javascripts/index.js')